<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>

</head>
<body>
    <h1 th:text="'List of Owners'">List of Owners</h1>

    <table>
        <thead>
            <tr>
                <th>Id</th>
                <th>Firts Name</th>
                <th>Second Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner?.id}">1</td>
                <td th:text="${owner?.firstName}">Izan</td>
                <td th:text="${owner?.lastName}">Izan</td>
            </tr>
        </tbody>
    </table>
</body>
</html>