<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml" th:replace="~{fragments/layout :: layout (~{::body},'owners')}">
<head>
    <meta charset="UTF-8">
    <title>Owners</title>

</head>
<body>
    <h1 th:text="'List of Owners'">List of Owners</h1>

    <table id="owners" class="table table-striped">
        <thead>
            <tr>
                <th style="width: 150px;">Id</th>
                <th style="width: 150px;">Firts Name</th>
                <th style="width: 150px;">Second Name</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="owner : ${owners}">
                <td th:text="${owner?.id}">1</td>
                <td th:text="${owner?.firstName}">Izan</td>
                <td th:text="${owner?.lastName}">Izan</td>
            </tr>
        </tbody>
    </table>
</body>
</html>